extends layout

block content

  h1= title


    ul(class="tw-list-none tw-ml-0 tw-mt-10")

        each category in category_list
          div(class='card tw-mb-3 tw-p-5 tw-w-1/2' )
            li(className='card')
              a(href=category.url) #{category.name}s


        else
          li There are no categories in inventory. Something when wrong.
  div(class="tw-flex tw-flex-col")
    a(class='button', href="/category/new/") Add Category
