extends layout

block content


  h1  #{category.name}

  if category_products.length

    p #[strong Remove the following products before attempting to delete this category.]

    div(style='margin-left:20px;margin-top:20px')

      h4 Products

      dl
      each item in category_products
        dt
          a(href=item.url) #{item.name}

  else
    p Do you really want to delete this Category?

    form(method='POST' action='')
      div.form-group
        input#categoryid.form-control(type='hidden',name='categoryid', required='true', value=category._id )

      button.btn.btn-primary(type='submit') Delete