extends layout

block content
  h1 Tesla Inventory App
  p This is me learning Express and Node. Not front-end ;)

  p Add a category, add a car, delete a category, delete a car, update a category, update a car.
