extends layout

block content

  h1 Are you sure you want to delete this product?
  h4 Once deleted, you won't be able to get it back.

  form(method='POST' action='')
      div.form-group
        input#productid.form-control(type='hidden',name='productid', required='true', value=(productid) )
      button.btn.btn-primary(type='submit') Delete