extends layout

block content

  h1= product.name
  h3= product.description
  br
  h4 Category: #{product.category.name}
  //- h4= product.category.name
  br
  h4 $ #{product.formattedPrice}
  <br>

  if product.inStock
    Status
    h4.text-success Available
  else
    h4.text-danger Not Available
  a(class='button', href= product.url + '/update') Update Product
  <br>
  a(class='button', href= product.url + '/delete') Delete